.title {
    color: black;
    font-weight: bolder;
    font-size: 2.5vmax;
    margin-bottom: 0.2vmax;
}

.description {
    color: gray;
    font-size: 1.1vmax;
    margin-bottom: 2vmax;
}

.articleImage {
    height: 20vmax;
    max-width: 60vmax;
    margin-bottom: 2vmax;
}

.articleText {
    color: black;
    font-size: 1.5vmax;
    margin-bottom: 1.5vmax;
    line-height: 1.6;
}
